<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <title>Login</title>
</head>

<body style="background-color: #ffc107;">
  <% if (success.length) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <%}%>
      <% if (error.length) {%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>
          <h1 class="text-center">A Mimic of how Login works</h1>
          <div class="card mb-3 m-auto" style="max-width: 540px; background-color: bisque;">
            <div class="row g-1 p-1 m-1">
              <div class="col-md-4">
                <img src="https://www.biddingowl.com/images/signInGraphic.jpg" class="img-fluid rounded-start"
                  alt="Image">
              </div>
              <div class="col-md-8 mb-2">
                <div class="card-body mb-2">
                  <form action="/login" method='POST'
                    class="d-flex flex-column align-items-center justify-items-around">
                    <label for="email">Type your email</label>
                    <input id="email" class="form-control" type="email" name='email' placeholder="email">
                    <label for="pass">Type your password</label>
                    <input id="pass" class="form-control mt-2 mb-2" type="password" name='password'
                      placeholder="password">
                    <button class="btn btn-success ">Sign in </button>
                  </form>
                  <label for="act">Didn't have an account?Sign up</label>
                  <a href="/signup"><button class="btn btn-primary" id="act">Sign up</button></a>
                </div>
              </div>
            </div>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>